@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-title {
  background-image: linear-gradient(
    90deg,
    #7f8cfe 0%,
    #c780f8 12%,
    #ff80f2 24%,
    #ff8080 36%,
    #ffcc80 50%,
    #ff8080 62%,
    #ff80f2 74%,
    #c780f8 86%,
    #7f8cfe 100%
  );
  background-size: 200% 200%;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 200%;
  }
}
